- if @traders.length != 0
  - @traders.each do |trader|
    .trader
      %ul
        %li #{link_to trader.name, trader} 
- else
  No traders.
  
= will_paginate @traders
= raw page_entries_info @traders
