:javascript
  head.ready(function() {
    $("#request_quote").submit(function(event) {
      $.post($(this).attr('action'), $(this).serialize(), function(response) {
        // blargh
      }, 'json');
    event.preventDefault();
    });
  });
