Either find the trader who did your job, or if s/he isn't listed, add them yourself. Takes about five seconds.

%form#choose_trader{:action => '/traders/search.json', :method => 'get', :class => 'formtastic'}
  %input#trader_search_page{:type => 'hidden', :name => 'page', :value => '1'}
  %fieldset{:class => 'inputs'}
    %table.form_substrate
      %tr
        %td Name
        %td
          %input#trader_text{:type => 'text', :name => 'trader_text'}
          
      %tr
        %td Profession
        %td= render :partial => 'professions/ddl.haml'
      %tr
        %td City/Region
        %td= render :partial => 'traders/city.haml'
      %tr
        %td
        %td
          %input{:type => 'submit', :value => 'Find a trader'}
      %tr
        %td Selected trader
        %td
          %strong
            %span#selected_traders_list (none)

%span#selected_traders
#trader_results
  %ul#trader_results_list
