-# Yay for copypasta! Can Haml really not handle putting Ruby control flows inside Javascript?

-# Option: create_new? true/false.
-# Option: select_many? true/false.

- if create_new == true
  - create_new = 'var create_new = true;'
- elsif create_new == false
  - create_new = 'var create_new = false';

- if select_many == true
  - select_many = 'var select_many = true;'
- elsif select_many == false
  - select_many = 'var select_many = false;'

- if trader_bucket
  - trader_bucket = "var trader_bucket = '#{trader_bucket}';"

:javascript
  #{create_new}
  #{select_many}
  #{trader_bucket}

  $(document).ready(function() {
    $("#choose_trader").submit(function(event) {
      $.getJSON($(this).attr('action'), $(this).serialize(), function(data) {
        $("#trader_results").html("");
        $.each(data, function(index, trader) {
          if (trader.id != 0) {

            if (select_many) {

              $("#trader_results").append('<input type="checkbox" name="select_trader" id="trader_' + trader.id + '" />'
                + '<label class="pointer" for="trader_' + trader.id + '">' + trader.name + '</label>');
              $("#trader_" + trader.id).click(function() {
                var trader_ids = $(trader_bucket).val();
                if (trader_ids != '') {
                  trader_ids = trader_ids.split(',');
                } else {
                  trader_ids = [];
                }
                
                if ($(this).is(':checked') && $.inArray(trader.id, trader_ids) == -1) {
                  trader_ids.push(trader.id);                                   // Checked; add this trader ID.
                } else if (!$(this).is(':checked') && $.inArray(trader.id.toString(), trader_ids) > -1) {
                  trader_ids.splice(trader_ids.indexOf(trader.id.toString()), 1);          // Unchecked; remove this trader ID.
                }
                $(trader_bucket).val(trader_ids.join(','));   
              });

            } else {

              $("#trader_results").append('<input type="radio" name="select_trader" id="trader_' + trader.id + '" />'
                + '<label class="pointer" for="trader_' + trader.id + '">' + trader.name + '</label>');
              $("#trader_" + trader.id).click(function() {
                $(trader_bucket).val(trader.id);
              });

            }

          } else {
            $("#trader_results").append('<li>' + trader.name + '</li>'); // Display "No results".
          }
        });

        if (create_new) {

          $("#trader_results").append('<li>Not on the list? <a href="#" id="toggle_new_trader">Add them!</a></li>');
          $("#toggle_new_trader").click(function() {
            $("#new_trader_div").toggle();
            var self = $(this);
            if (self.html() == "Add them!")
              self.html("Close this window");
            else if (self.html() == "Close this window") 
              self.html("Add them!");
            event.preventDefault();

          });

        }
      });
      event.preventDefault();
    });
  });
