-# Yay for copypasta! Can Haml really not handle putting Ruby control flows inside Javascript?

-# Option: create_new? true/false.
-# Option: select_many? true/false.

- if create_new == true
  - create_new = 'var create_new = true;'
- elsif create_new == false
  - create_new = 'var create_new = false';

- if select_many == true
  - select_many = 'var select_many = true;'
- elsif select_many == false
  - select_many = 'var select_many = false;'

- if trader_bucket
  - trader_bucket = "var trader_bucket = '#{trader_bucket}';"

:javascript
  #{create_new}
  #{select_many}
  #{trader_bucket}

  $(document).ready(function() {
    $("#choose_trader").submit(function(event) {
      $.getJSON($(this).attr('action'), $(this).serialize(), function(response) {
        $("#trader_results").html('<ul id="trader_results_list"></ul>');
        if (response.traders.total_entries != 0) {
          $.each(response.traders, function(index, trader) {

            if (select_many) {              // Use checkboxes

              $("#trader_results_list").append('<input type="checkbox" name="select_trader" id="trader_' + trader.id + '" />'
                + '<label class="pointer" for="trader_' + trader.id + '">' + trader.name + '</label>');
              $("#trader_" + trader.id).click(function() {
                var trader_ids = $(trader_bucket).val();
                if (trader_ids != '') {
                  trader_ids = trader_ids.split(',');
                } else {
                  trader_ids = [];
                }
                
                if ($(this).is(':checked') && $.inArray(trader.id, trader_ids) == -1) {
                  trader_ids.push(trader.id);                                   // Checked; add this trader ID.
                } else if (!$(this).is(':checked') && $.inArray(trader.id.toString(), trader_ids) > -1) {
                  trader_ids.splice(trader_ids.indexOf(trader.id.toString()), 1);          // Unchecked; remove this trader ID.
                }
                $(trader_bucket).val(trader_ids.join(','));   
              });

            } else {               // Use radio buttons

              $("#trader_results_list").append('<li><input type="radio" name="select_trader" id="trader_' + trader.id + '" />'
                + '<strong class="list_heading"><label class="pointer" for="trader_' + trader.id + '" style="display:inline;">' + trader.name + '</label></strong> (<a href="/traders/' + trader.name.slugify() + '-' + trader.id + '">profile</a>)</li>');
              $("#trader_" + trader.id).click(function() {
                $(trader_bucket).val(trader.id);
                $("#selected_traders_list").html('<a href="/traders/' + trader.name.slugify() + '-' + trader.id + '">' + trader.name + '</a>');
              });

            }
          });
          
          // Pagination - prev/next.
          
          $("#trader_results").prepend(' Page ' + response.page + ' of ' + response.total_pages);
          
          $('<button id="trader_search_next">Next</button>').prependTo("#trader_results").button();         
          if (response.page < response.total_pages) {
            $("#trader_search_next").click(function() {
              $("#trader_search_page").val(parseInt(response.page) + 1);
              $("#choose_trader").submit();
              return false;
            });
          } else {
            $("#trader_search_next").attr("disabled", "disabled").css("color", "gray"); 
          }  
          
          $('<button id="trader_search_prev">Prev</button>').prependTo("#trader_results").button();
          if (response.page > 1) {
            $("#trader_search_prev").click(function() {
              $("#trader_search_page").val(parseInt(response.page) - 1);
              $("#choose_trader").submit();
              return false;
            });
          } else {
            $("#trader_search_prev").attr("disabled", "disabled").css("color", "gray");
          }
          
        } else {
          $("#trader_results_list").append('<li>No traders match your search.</li>');
        }

        if (create_new) {

          $("#trader_results_list").append('<li>Not on the list? <a href="#" id="toggle_new_trader">Add them!</a></li>');
          $("#toggle_new_trader").button();
          $("#toggle_new_trader").click(function() {
            $("#new_trader_div").slideToggle(200);
            if ($("#toggle_new_trader span").html() == "Add them!")
              $("#toggle_new_trader span").html("Minimise this");
            else if ($("#toggle_new_trader span").html() == "Minimise this") 
              $("#toggle_new_trader span").html("Add them!");
            event.preventDefault();

          });

        }
      });
      
      event.preventDefault();
    });
  });
