= render :partial => 'locatable/locatable_js', :locals => { :map_lat => -41.079351, :map_lng => 173.144531, :map_zoom => 5, :map_canvas => 'map_canvas', :address => '#address', :button => '#address_button', :feedback => '#address_feedback', :tag_lat => '#job_address_lat', :tag_lng => '#job_address_lng', :tag_readable => '#job_address_readable' }

= render :partial => 'imageable/imageable_js', :locals => { :image_tokens => '#job_image_tokens', :upload_input => '#job_upload', :uploaded_thumbs => '#job_thumbs' }
