.pointer {
  cursor: pointer;
}

textarea {
  height: 130px;
  width: 500px;
}

#map_canvas, #job_map_canvas {
  height: 400px;
  width: 100%;
}


/* Listable styling */

.list_title {
  font-size: 16px;
}

.listable {
  height: 90px;
  overflow: hidden;
}

.listable .desc textarea {
  width: 673px;
  height: 300px;
}

.listable_feedback {
  padding: 6px;
  margin: 6px;
}

hr.listable_hr {
  margin: 10px 0px 10px 0px;
  border-top: dotted thin grey;
}

.expanded_listable {
  height: 100%;
}

.desc p {
  font-size: 12px;
  line-height: 15px;
}




ul#trader_results_list {
  margin-top: 15px;
}

ul#trader_results_list li {
  height: 25px;
  list-style-type: none;
}

.list_heading {
  color: #ff0084;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

body {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 1000px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 0px;

  margin-top: 20px;
}

#flash_messages {
  width: 100%;
  clear: both;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#user_nav {
  text-align: right;
}

#site_nav {
  width: 100%;
  height: 45px;
  display: block;
  clear: both;
}

#nav_links {
  float: right;
  
}

#nav_links li {
  display: inline;
  list-style-type: none;
  text-decoration: none;
}

#nav_links li a {
  padding: 5px 15px 5px 15px;
  margin: 0px 2px 0px 2px;
  background-color: grey;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

#nav_links li a:hover {
  background-color: #00cc00;
}

selected_nav_links {
  background-color: #00cc00;
}

#main_heading {
  float: left;
  font-weight: bold;
  font-size: 48px;
}

#main_content {
  width: 100%;
  display: block;
  clear: both;
  border-bottom: thin solid black;
}

#main_content h1 {
  margin-bottom: 4px;
}

#left_col, #right_col {
  margin-top: 20px;
  padding: 8px;
}

#left_col {
  float: left;
  width: 68%;
  clear: left;
}

#right_col {
  float: left;
  width: 28%;
  clear: right;
}

table.form_substrate {
  width: 100%;
}

fieldset.inputs ol {
  list-style-type: none;
}

#trader_results {
  padding: 10px 10px 5px 20px;
}

#selected_traders_list {
  
}



