.pointer {
  cursor: pointer;
}

textarea {
  height: 130px;
  width: 500px;
}

#map_canvas, #job_map_canvas {
  height: 400px;
  width: 500px;
}

.listable {
  height: 90px;
  overflow: hidden;
}

.expanded_listable {
  height: 100%;
}
