:javascript
  $(document).ready(function() {
    $("#search_reviews").submit(function(event) {
      $.ajax({
        url: '/reviews',
        data: $(this).serialize(),
        dataType: 'json',
        contentType: 'application/json',
        // complete used, rather than success, because if a 304 Not Modified is returned, success doesn't fire.
        complete: function(xhr, textStatus) {
          $("#review_list").html(xhr.responseText);
        },
      });
      
      event.preventDefault();
    });
  });

- content_for :title do
  All Reviews

%h2 Search
%form#search_reviews{:method => 'post', :action => ''}
  %table
    %tr
      %td Review content
      %td
    %tr
      %td What's being reviewed?
      %td
    %tr
      %td Mark spread
      %td
    %tr
      %td Trader profession?
      %td 
    %tr
      %td 
      %td
        %input{:type => 'submit', :value => 'Search'}
  
%ul#review_list
  - @reviews.each do |review|
    = render :partial => 'review_instance', :locals => {:review => review}

